.tab-work-exp {
    background: url('../../assets/home.jpg') no-repeat center center fixed;
    background-size: cover;
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;   
        padding-top: 5vh;    
        h1 {
            border-bottom: 3px solid #0a0a0a;
        } 
        img {
            height: 200px;
            // border: 5px solid #000000;
            box-sizing: border-box;
            border-radius: 110.5px;
            margin: 10px;
        }
    }
}