.nav-bar ul {
    font-family: monospace;
    display: flex;
    gap: 30px;
    list-style-type: none;
    text-decoration: none;
}

.nav-bar ul a {
    text-decoration: none;
    color: var(--primary-color-1);
    font-size: 20px;
}

.nav-bar ul li {
    border-bottom: 3px solid var(--background-color);
}

.nav-bar ul li:hover {
    border-bottom: 3px solid var(--primary-color-1);
}

.top-container {
    padding: 10px;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
}


.switch-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .sun,
  .moon {
    width: 17px;
    height: 17px;
  }
  
  .sun {
    background: url(../assets/sun.svg) no-repeat center;
    background-size: 100%;
  }
  
  .dark .sun {
    background: url(../assets/sun-white.svg) no-repeat center;
    background-size: 100%;
  }
  
  .moon {
    background: url(../assets/moon.svg) no-repeat center;
    background-size: 100%;
  }
  
  .dark .moon {
    background: url(../assets/moon-white.svg) no-repeat center;
    background-size: 100%;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    margin: 0 6px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked+.slider {
    background-color: var(--primary-color-1);
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px var(--primary-color-1);
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }