@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@mixin active {
    font-size: 20px;
    a {
        color: #fff !important;
    }
}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Josefin Sans', cursive;
        font-weight: 800 !important;
} 

$dark: #0a0a0a;

.navbar-ex {
    top: 0;
    position: fixed;
    display: flex;
    background-color: $dark;
    width: 100%;
    box-shadow: 4px 4px 8px 1px #686686;
}

.scrollspy {
        
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 0;
    li {
        font-size: 20px;
        padding: 1rem !important;
        border-bottom: 0.3rem solid $dark;
        a {
            text-decoration: none;
            color: #aaa !important;
        }
        &:hover {
            @include active();
        }
    }
    .active {
        border-bottom: 0.3rem solid #fff;
        @include active();
    }
    
}

.scroll-spy {
    background-color: #ECEEF1;
    .tab {
        background-color: #fff;
        padding-top: 90px;
        box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
}